<div class="well">
  <h4>Ask the Nerds</h4>
  <p>This Q&amp;A site is dedicated to questions about programming</p>
</div>

<div class="boxes" ng-controller="MainCtrl">
  <div class="media" ng-repeat="question in questions track by $index">
    <div class="media-left">
      <a href="#">
        <img class="media-object" ng-src="{{question.gravatarUrl}}">
      </a>
    </div>
    <div class="media-body">
      <div class="hidden-xs"><a class="btn btn-danger btn-xs pull-right" ng-show="isUser(question)" ng-click="deleteQuestion(question, index)">Delete</a></div>
      <div class="hidden-xs"><a class="btn btn-warning btn-xs pull-right" ng-show="isUser(question)" ui-sref="edit({slug: question.slug})">Edit</a></div>
      <h4 class="media-heading">{{question.email}} asked:</h4>
      <div class="time hidden-xs">{{ question.createdAt | dateInWords }}</div>
      <div>{{question.body}}</div>
      <div class="hidden-xs"><a ui-sref="question({slug: question.slug})" class="btn btn-primary btn-xs">View Answers</a></div>
    </div>
  </div>
</div>
